OPENAI_API_KEY=
OPENAI_API_BASE=
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=

MCP_TRANSPORT=sse

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

CACHE_PATH=

AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GOOGLE_APPLICATION_CREDENTIALS=

SFTP_HOST=
SFTP_USER=
SFTP_PASS=

SMB_SERVER=
SMB_SHARE=
SMB_USER=
SMB_PASS=
