cache_path: {{ env.CACHE_PATH | default('file:///tmp/data/cache') }}
mcp_transport: {{ env.MCP_TRANSPORT | default('stdio') }}

redis:
    host: {{ env.REDIS_HOST | default('localhost') }}
    port: {{ env.REDIS_PORT | default(6379) }}
    db: {{ env.REDIS_DB | default(0) }}
    username: {{ env.REDIS_USERNAME | default('') }}
    password: {{ env.REDIS_PASSWORD | default('') }}
    ssl: {{ env.REDIS_SSL | default(false) }}
    ssl_ca_path: {{ env.REDIS_CA_PATH | default('') }}
    ssl_cert_reqs: {{ env.REDIS_CERT_REQS | default('required') }}
    ssl_ca_certs: {{ env.REDIS_SSL_CA_CERTS | default('') }}
    ssl_keyfile: {{ env.REDIS_SSL_KEYFILE | default('') }}
    ssl_certfile: {{ env.REDIS_SSL_CERTFILE | default('') }}
    socket_timeout: {{ env.REDIS_SOCKET_TIMEOUT | default(5) }}
    retry_on_timeout: {{ env.REDIS_RETRY_ON_TIMEOUT | default(false) }}
    max_connections: {{ env.REDIS_MAX_CONNECTIONS | default(10) }}
    connection_pool: {{ env.REDIS_CONNECTION_POOL | default('default') }}
    decode_responses: {{ env.REDIS_DECODE_RESPONSES | default(true) }}

storage:
    abfs:
        account_name: {{ env.AZURE_STORAGE_ACCOUNT }}
        account_key: {{ env.AZURE_STORAGE_KEY }}
        tenant_id: {{ env.AZURE_TENANT_ID }}
        client_id: {{ env.AZURE_CLIENT_ID }}
        client_secret: {{ env.AZURE_CLIENT_SECRET }}
        anon: {{ env.AZURE_STORAGE_ANON | default(false) }}
    s3:
        key: {{ env.AWS_ACCESS_KEY_ID }}
        secret: {{ env.AWS_SECRET_ACCESS_KEY }}
    gcs:
        token: {{ env.GOOGLE_APPLICATION_CREDENTIALS }}
    sftp:
        host: {{ env.SFTP_HOST }}
        port: {{ env.SFTP_PORT | default(22) }}
        username: {{ env.SFTP_USER }}
        password: {{ env.SFTP_PASS }}
    smb:
        server_name: {{ env.SMB_SERVER }}
        share_name: {{ env.SMB_SHARE }}
        username: {{ env.SMB_USER }}
        password: {{ env.SMB_PASS }}

converter:
    azure_document_endpoint: {{ env.AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT }}
    openai_api_key: {{ env.OPENAI_API_KEY }}
    openai_api_base: {{ env.OPENAI_API_BASE | default('https://api.openai.com/v1') }}
